							

							<a href="#/automoviles" class="btn btn-info"><i class="fa fa-arrow-left"></i></a>
                            <h3 class="col-l-6 col-xs-offset-4">Datos Del Automovil</h3>
                            <hr size="10"width="66%"/>
                            <div class="row col-xs-offset-2">
                                <div class="from-group col-xs-5">
                                    <label>Tipo de Automovil</label>
                                    <p>Tipo 1</p>
                                </div>
    
                                <div class="from-group col-xs-5">
                                    <label>Modelo del automovil</label>
                                    <p>volkswagen Vento</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Año del Automovil</label>
                                    <p>2010</p>
                                </div>
        
                                <div class="from-group col-xs-5">
                                    <label>Capacidad de pasajeros</label>
                                    <p>4</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Placas del Automovil</label>
                                    <p>hvj-34-12</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Numero de Unidad</label>
                                    <p>3511</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Foto del Automovil</label>

                                    <img src="../cliente/images/autoprueba.jpg" width="80%">
                                </div>

                            </div>                         