							

							<a href="#/usuarios"><p style="font-size: 130%"><i class="fa fa-arrow-circle-left"> Regresar</p></i></a>
                            <h2 class="col-l-6 col-xs-offset-4">Datos Personales</h2>
                            <hr size="10"width="66%"/>
                            <div class="row col-xs-offset-2">
                                <div class="from-group col-xs-5">
                                    <label>Nombre</label>
                                    <p>Raul Humberto</p>
                                </div>
    
                                <div class="from-group col-xs-5">
                                    <label>Apellido</label>
                                    <p>Cardenas Baez</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Telefono</label>
                                    <p>6677953854</p>
                                </div>
        
                                <div class="from-group col-xs-5">
                                    <label>Sexo</label>
                                    <p>Masculino</p>
                                </div>

                                <div class="from-group col-xs-5">
                                    <label>Fecha de nacimiento</label>
                                    <p>07/07/1994</p>
                                </div>

                            <div class="from-group col-xs-5">
                                <label>Correo Electronico</label>
                                <p>rulocardenas94@gmail.com</p>
                            </div>

                            </div>
                            
                            <br>

                            <h2 class="col-l-6 col-xs-offset-4">Datos de la Unidad</h2>
                            <hr size="10"width="66%"/>
                            <div class="row col-xs-offset-2">

                            <div class="from-group col-xs-5">
                                <label>Compañia</label>
                                <p>Taxi Express</p>
                            </div>

                            <div class="from-group col-xs-5">
                                <label>Numero de contrato</label>
                                <p>1651</p>
                            </div>
                            </div>